@tailwind utilities;

[data-prefers-color-scheme='dark'] {
	color-scheme: dark;
}

.ka-wrapper,
.ka-content {
	height: 100%;
}

.adm-nav-bar-left {
	font-size: 16px;
}

.adm-nav-bar-right {
	display: flex;
	justify-content: end;
	align-items: center;
}

.adm-list-item-content-prefix {
	width: 20rem;
}

.adm-form .adm-list {
	height: 100%;
}

.adm-form-item-label {
	display: flex;
	align-items: center;
}

.adm-list-body,
.adm-list-body-inner,
.adm-list-item-content,
.adm-list-item-content-main,
.adm-form-item-child-inner,
.adm-text-area {
	height: 100%;
}

.adm-form-item-child {
	min-height: 0;
	flex: 1;
}

.adm-list-item-no-padding {
	padding-left: 0;

	.adm-list-item-content {
		padding-right: 0;
	}

	.adm-list-item-content-main {
		padding: 0;
	}

	.adm-list-item-description {
		padding: 0 16px;
	}
}

.adm-list-body-inner,
.adm-list-item-content-main,
.adm-text-area {
	display: flex;
	flex-direction: column;
}

.adm-list-item-content {
	padding-right: 16px;
}

.adm-slider-thumb-container {
	display: flex;
}

.adm-dropdown {
	background: transparent;

	.adm-dropdown-nav {
		border-bottom-width: 3px;
	}
}

.adm-dropdown-item {
	.adm-dropdown-item-title {
		padding-bottom: 6px;
	}

	.adm-dropdown-item-title-text {
		font-size: 16px;
	}

	.adm-dropdown-item-title-arrow {
		font-size: 12px;
	}
}

.adm-index-bar-sticky .adm-index-bar-anchor-title {
	top: -1px;
}

.adm-image-uploader-upload-button-wrap {
	.adm-image-uploader-upload-button {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.adm-popover-dark {
	.adm-popover-menu-item:active:not(.adm-popover-menu-item-disabled) {
		background-color: #404040;
	}

	.adm-popover-menu-item-text {
		border-top-color: #404040;
	}

	.adm-popover-menu-item:active:not(.adm-popover-menu-item-disabled)::after {
		border-bottom-color: #404040;
	}
}

.adm-popover-menu-item {
	user-select: none;
}

.adm-toast-icon {
	display: flex;
	justify-content: center;
}

.monaco-editor {
	position: absolute;
}

.rti--container {
	padding: 0 !important;
	border: 0 !important;
	background: transparent !important;
	box-shadow: none !important;
}
